

:root {
    --color-primary: #00AE9D;
    --color-secondary: #003641;
    --color-white: #ffffff;
    --color-purple: #49479D;
    --color-green-medium: #7DB61C;
    --color-green-light: #C9D200;
}

body {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: 'Asap', sans-serif;
}

.azul {
    background-color: var(--color-secondary);
}

.col {
    padding: 0;
}

.navbar {
    background-color: var(--color-secondary);
}

.nav-link {
    color: var(--color-white);
}

.nav-link:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-purple);
}